<% layout("/layouts/boilerplate.ejs") -%>
<style>
  .space {
    margin-top: 70px;
  }
</style>
<div class="space">
  <h3><b>Bhai Mati Das Ji</b></h3>
  <img
    src="https://www.sikhnet.com/files/styles/social-sharing/public/news/image/main/bhai_mati_das-thumb.jpg?itok=4kQVPQu4"
    alt=""
  />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, laudantium!
    Quam vero aspernatur expedita velit hic ratione quae molestiae harum
    necessitatibus beatae numquam sit iusto sunt distinctio, maiores omnis
    quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
    neque cumque repellendus asperiores, voluptas, eaque porro, vero blanditiis
    et fugiat hic iusto quia quisquam omnis quaerat consequuntur. Deleniti,
    explicabo totam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Quos maxime fugiat tempore, omnis ea maiores quam, dolor voluptas, iure eos
    fuga rerum sapiente itaque pariatur autem? Quibusdam quidem eum
    exercitationem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, laudantium!
    Quam vero aspernatur expedita velit hic ratione quae molestiae harum
    necessitatibus beatae numquam sit iusto sunt distinctio, maiores omnis
    quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
    neque cumque repellendus asperiores, voluptas, eaque porro, vero blanditiis
    et fugiat hic iusto quia quisquam omnis quaerat consequuntur. Deleniti,
    explicabo totam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Quos maxime fugiat tempore, omnis ea maiores quam, dolor voluptas, iure eos
    fuga rerum sapiente itaque pariatur autem? Quibusdam quidem eum
    exercitationem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, laudantium!
    Quam vero aspernatur expedita velit hic ratione quae molestiae harum
    necessitatibus beatae numquam sit iusto sunt distinctio, maiores omnis
    quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
    neque cumque repellendus asperiores, voluptas, eaque porro, vero blanditiis
    et fugiat hic iusto quia quisquam omnis quaerat consequuntur. Deleniti,
    explicabo totam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Quos maxime fugiat tempore, omnis ea maiores quam, dolor voluptas, iure eos
    fuga rerum sapiente itaque pariatur autem? Quibusdam quidem eum
    exercitationem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, laudantium!
    Quam vero aspernatur expedita velit hic ratione quae molestiae harum
    necessitatibus beatae numquam sit iusto sunt distinctio, maiores omnis
    quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
    neque cumque repellendus asperiores, voluptas, eaque porro, vero blanditiis
    et fugiat hic iusto quia quisquam omnis quaerat consequuntur. Deleniti,
    explicabo totam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Quos maxime fugiat tempore, omnis ea maiores quam, dolor voluptas, iure eos
    fuga rerum sapiente itaque pariatur autem? Quibusdam quidem eum
    exercitationem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, laudantium!
    Quam vero aspernatur expedita velit hic ratione quae molestiae harum
    necessitatibus beatae numquam sit iusto sunt distinctio, maiores omnis
    quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
    neque cumque repellendus asperiores, voluptas, eaque porro, vero blanditiis
    et fugiat hic iusto quia quisquam omnis quaerat consequuntur. Deleniti,
    explicabo totam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Quos maxime fugiat tempore, omnis ea maiores quam, dolor voluptas, iure eos
    fuga rerum sapiente itaque pariatur autem? Quibusdam quidem eum
    exercitationem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, laudantium!
    Quam vero aspernatur expedita velit hic ratione quae molestiae harum
    necessitatibus beatae numquam sit iusto sunt distinctio, maiores omnis
    quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
    neque cumque repellendus asperiores, voluptas, eaque porro, vero blanditiis
    et fugiat hic iusto quia quisquam omnis quaerat consequuntur. Deleniti,
    explicabo totam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Quos maxime fugiat tempore, omnis ea maiores quam, dolor voluptas, iure eos
    fuga rerum sapiente itaque pariatur autem? Quibusdam quidem eum
    exercitationem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, laudantium!
    Quam vero aspernatur expedita velit hic ratione quae molestiae harum
    necessitatibus beatae numquam sit iusto sunt distinctio, maiores omnis
    quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
    neque cumque repellendus asperiores, voluptas, eaque porro, vero blanditiis
    et fugiat hic iusto quia quisquam omnis quaerat consequuntur. Deleniti,
    explicabo totam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Quos maxime fugiat tempore, omnis ea maiores quam, dolor voluptas, iure eos
    fuga rerum sapiente itaque pariatur autem? Quibusdam quidem eum
    exercitationem!
  </p>
</div>
